/* Police d'écriture - Google Font */

@font-face {
    font-family: 'Raleway';
    src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCFPrEHJA.woff2) format('woff2');;
}


/* Paramètres généraux de la page */

main { 
    margin: 0px 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-weight: bold;
    color: black;
    font-size: 24px;
}

h4 {
    font-weight: bold;
    color: black;
    font-size: 22px;
}

.colorLightBlue {
    color: #deebff;
}

.colorBlue {
    color: #0065FC;
}

.colorGrey {
    color: #F2F2F2;
}

.colorGreyStar { 
    color: rgb(204, 202, 202);
}

.backBlue {
    background-color: #0065FC;
}

.backGrey {
    background-color: #F2F2F2;
}

.boxShadow {
    box-shadow: 5px 5px 5px #F2F2F2;
}

.spaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spaceAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexRowBetween {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}
.column {
    flex-direction: column;
}

.borderRadius {
    border-radius: 30px;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    .header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 7%;
        margin: 20px 20px;
    }

    .header-logo img {
        width: 100%;
        height: 100%;
    }


/* Navigation */

nav {
    width: 90%;
}

    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        height: 100%;
        margin: 0;
    }

    .header-nav-btn {
        font-size: 25px;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0px 25px;
        padding: 0px 25px;
    }

    .header-nav-btn:hover {
        border-top: 3px solid #0065FC;
        color: #0065FC; 
    }


/* Ajoutez le formulaire de recherche */

.formulaire h1 {
    margin-bottom: 10px;
}

    .formulaire p {
        margin-top: 0px;
    }

    .formulaire-localisation, .formulaire-recherche, .formulaire-btn {
        padding: 15px 15px;
        font-size: 20px;
    }

    .formulaire-localisation {
        margin-right: -6px;
        border-radius: 15px 0px 0px 15px;
        border: 2px solid #F2F2F2;
    }

    .formulaire-recherche {
        border: 2px solid #F2F2F2;
        width: 15%;
    }

    .formulaire-btn {
        margin-left: -5px;
        border-radius: 0px 15px 15px 0px;
        font-weight: bolder;
        color: white;
        border: 2px solid #0065FC;
    }

        .formulaire-btn-responsive {
            display: none;
        }

        ::placeholder{
            font-weight: bolder;
            color: rgb(59, 57, 57);
        }

/* Ajout de la partie Filtres */


.filtres {
    display: flex;
    align-items: center;
    margin: 30px 0px;
}

    .filtres-btn {
        height: 50px;
        border : 3px solid #F2F2F2;
        border-radius: 35px;
        margin-left: 20px;
    }

        .filtres-btn-icone {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -3px;
            width: 50px;
            height: 50px;
            min-width: 50px;
            min-height: 50px;
            border-radius: 50%;
            background-color: #deebff;
        }

        .filtres-btn-titre {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 20px;
            font-weight: bold;
        }

/* Effet au survol des filtres */


.filtres-btn:hover > .filtres-btn-icone {
    background-color: #0065FC;
    color: #deebff;
}

.filtres-btn:hover > .filtres-btn-titre {
    color: #0065FC;
}

/* Information complémentaire à la partie Filtres */


.filtres-infocompl {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

    .filtres-infocompl-icone {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 2px #deebff solid;
        height: 26px;
        width: 26px; 
        border-radius: 25px;
        padding: 2px;
    }

    .filtres-infocompl-texte {
        margin-left: 10px;
    }


/* Section “Hébergements à Marseille” */


.box-orga-partiehaut {
    flex: 1;
}

.hebergement {
    padding: 30px 45px;
    margin-right: 40px;
    flex: 2;
}

    .hebergement-orga {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

        .hebergement-orga-card {
            width: 30%;
            height: auto;
            margin: 20px 1px; 
            padding: 6px;
            background-color: white;
        }
            .hebergement-orga-card a { 
                text-decoration: none;
                width: 100%;
                height: 270px;
                min-height: 100%;
                max-height: 100%;
            }

            .hebergement-orga-card-image {
                height: 55%;
                width: 100%;
                border-radius: 30px 30px 0px 0px;
                object-fit: cover;   
                overflow: hidden;
            }

            .hebergement-orga-card-texte {
                padding-left: 20px;
            }

                .hebergement-orga-card-texte h4 {
                    margin-top: 10px;
                    margin-bottom: 5px;
                }

                .hebergement-orga-card-texte p {
                    margin-top: 0px;
                    margin-bottom: 8px;
                    color: black;
                }
                
                .star {
                    font-size: 18px;
                    margin-right: 0px;
                    padding-bottom: 10px;
                    display: flex;
                    width: 32%;
                }


/* Section “Les plus populaires” */

.populaires {
    padding: 30px 45px;
    flex: 1;
    overflow: hidden;
}

    .populaires-orga {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        .populaires-orga-card {
            width: 95%;
            margin: 20px 1px; 
            padding: 4px;
            background-color: white;
        }

        .populaires-orga-card a { 
            display: flex;
            flex-flow: row nowrap;
            text-decoration: none;
            height: 200px;
        }

            .populaires-orga-card-image {
                width: 40%; 
                border-radius: 30px 0px 0px 30px;
                object-fit: cover;   
                overflow: hidden;
            }

            .populaires-orga-card-texte {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 55%;
                padding-left: 30px;
            }

                .populaires-orga-card-texte h4 {
                    margin-top: 20px;
                    margin-bottom: 5px;
                }

                .populaires-orga-card-texte p {
                    margin-top: 0px;
                    margin-bottom: 20px;
                    color: black;
                }



/* Section “Activités à Marseille” */

.activity {
    margin-top: 60px;
    flex: 1;
}

    .activity h2 {
        margin-bottom: 0px;
    }

    .activity-orga {
        margin: 45px 1px;
        padding-bottom: 40px;
        height: 700px;
    }

        .activity-orga-column1 {
            width: 23%;
        }

        .activity-orga-column2 {
            width: 23%;
        }

            .activity-orga-card {
                background-color: white; 
                height: 100%;
                width: 100%;
            }

                .activity-orga-card a { 
                    text-decoration: none;
                    height: 100%;
                }

                .activity-orga-card-image {
                    width: 100%; 
                    border-radius: 30px 30px 0px 0px;
                    object-fit: cover;   
                    overflow: hidden;
                    flex: 1 1 auto;
                }

                .activity-orga-card-size1 {
                    height: 58%;
                }

                .activity-orga-card-size2 {
                    height: 35%;
                }

                .activity-orga-card-size3 {
                    height: 46%;
                }

                .activity-orga-card-size4 {
                    height: 48%;
                } 

                .activity-orga-card-texte {
                    display: flex;
                    align-items: center;
                    height: 60px;
                    padding-left: 20px;
                }


/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 70px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

    .footer-column {
        margin-right: 25%;
    }

    .footer p {
        margin-top: 14px;
        margin-bottom: 0px;
    }


/* Responsive - media queries */


@media screen and (max-width: 992px) {
    main {
    font-size: 18px;
    }
    h1 {
    font-size: 26px;
    margin-top: 40px;
    }
    h2 {
    font-size: 26px;
    }
    h3 {
    font-size: 20px;
    }
    header {
    border-bottom: solid 1px rgb(204, 202, 202);
    }
        .header-logo {
        width: 16%;     
        }
        .header-nav-btn {
        font-size: 20px;
    }
    .formulaire-localisation, .formulaire-recherche, .formulaire-btn {
    font-size: 16px;
    }
    .filtres {
    margin-top: 50px;
    flex-wrap: wrap;
    }
        .filtres-btn {
        margin-bottom: 10px;
        }
    .box-orga-partiehaut {
    flex-direction: column;
    }
        .hebergement {
        padding-bottom: 30px;
        margin-bottom: 30px;
        margin-right: 0px!important;
        }
        .activity-orga {
        flex-flow: row wrap;
        height: 1000px;
        }
            .activity-orga-column1, .activity-orga-column2 {
            height: 50%;
            width: 45%;
            margin-bottom: 30px;
            }
                .activity-orga-card {
                width: 100%;
                }
               
}

@media screen and (max-width: 768px) {
    body {
    margin: 0px 0px;
    }
        main {
        font-size: 14px;
        margin: 0px;
        }
        .formulaire, .filtres, .filtres-infocompl, .hebergement,
        .populaires, .activity {
        padding: 10px 20px;
        }
        h1 {
        font-size: 22px;
        display: flex;
        flex-wrap: wrap;
        }
        h2 {
        font-size: 22px;
        display: flex;
        flex-wrap: wrap;
        }
        h3, h4 {
        font-size: 16px;
        }
    header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 0;
    }
        .header-logo {
        width: 30%;     
        }
        nav {
        width: 100%;
        }
        nav ul {
        justify-content: space-around;
        height: 80px;
        padding: 0;
        }
            nav li {
            width: 50%;
            border-bottom: 3px solid #F2F2F2;
            }
            .header-nav-btn {
            justify-content: center;
            font-size: 18px;
            }
            .header-nav-btn:hover {
            border-top: 0px solid #0065FC;
            }
            nav li:hover {
            border-bottom: 3px solid #0065FC;
            border-top: 0;
            color: #0065FC; 
            }
    form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    }
        .formulaire-recherche {
        width: 60%;
        }
        .formulaire-btn {
        display: none;
        }
        .formulaire-btn-responsive {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -13px;
        border-radius: 20px;
        height: 50px;
        width: 50px;
        border: 2px solid #0065FC;
        }
    .filtres {
    flex-flow: row wrap;
    margin: 10px 0px;
    }
        .filtres h3 {
        width: 100%;
        }
        .filtres-btn {
        margin-right: 7px;
        margin-left: 0;
        }
            .filtres-btn-icone {
            font-size: 17px;
            }
            .filtres-btn-titre {
            padding: 0px 10px;
            }
    .box-orga-partiehaut {
    flex-direction: column-reverse;
    }
    .populaires {
    border-radius: 0%;
    }
        .populaires-orga-card {
        margin: 10px 0px;
        }
            .populaires-orga-card a {
            height: 140px;
            }
            .populaires-orga-card-texte {
            padding-left: 20px;
            }
            .star {
            font-size: 14px;
            }
    .hebergement {
    background-color: white;
    }
        .hebergement-orga {
        flex-flow: column wrap;
        justify-content: space-between;
        }
            .hebergement-orga-card {
            margin: 10px 0px;
            }
            .hebergement-orga-card a {
            height: 190px;
            }
                .hebergement-orga-card {
                width: 95%;
                }
                .hebergement-orga-card-image {
                height: 60%;
                }
                    .hebergement > p {
                    font-size: 18px;
                    }
   .activity {
    margin-top: 0px;
    flex-direction: column;
    } 
        .activity-orga {
        height: 1300px;
        padding-bottom: 0px;
        }
        .activity-orga-column1, .activity-orga-column2 {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 0px;
        }        
            .activity-orga-card {
                margin-bottom: 30px;
           
            } 
            .activity-orga-card, .activity-orga-card-size1, .activity-orga-card-size2,
             .activity-orga-card-size3, .activity-orga-card-size4 {
            height: 190px;
            }
    footer {
    flex-direction: column;
    padding: 30px 40px;
    padding-top: 0;
    }
        .footer-column {
        margin-right: 0;
        }
            .footer-column h3 {
                margin-top: 30px;
                margin-bottom: 20px;
            }
            .footer-column p {
            font-size: 16px;
            }
}
